<button
class = "btn btn-primary"
[disabled] = "!allowNewServer"
(click) = "onCreateServer()"
> Add Server</button>
<hr>
<p>{{ serverCreationStatus }}</p>
<hr>
<app-server></app-server>
<hr>
<app-server></app-server>
<hr>
